<!DOCTYPE html>
<html>
  <head>
  <title>WillitSuite</title>
  </head>
  <body>
    <h1>WillitSuite</h1>
    <form>
      <label for="protocol">Protocol</label><br>
      <select name="protocol" id="protocol">
        <option value="ip">IP</option>
        <option value="tcp" selected=true>TCP</option>
        <option value="udp">UDP</option>
      </select><br>
      <label for="address">Address</label><br>
      <input type="text" id="address" name="address"><br>
      <label for="port">Port</label><br>
      <input type="text" id="port" name="port"><br>
      <input type="submit" value="Submit"><br>
      <h2>Output</h2>
      <text>{{ .Status }}</text>
    </form>
  </body>
</html>
