<!DOCTYPE html>
<html>
  <body>
    <form>
      <label for="protocol">Protocol</label><br>
      <input type="text" id="protocol" name="protocol"><br>
      <label for="address">Address</label><br>
      <input type="text" id="address" name="address"><br>
      <label for="port">Port</label><br>
      <input type="text" id="port" name="port"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
