<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
<html>
  <head>
  <title>WillitSuite</title>
  </head>
  <body>
    <h1>WillitSuite</h1>
    <form>
      <label for="protocol">Protocol</label><br>
      <select name="protocol" id="protocol">
        <option value="ip">IP</option>
        <option value="tcp" selected=true>TCP</option>
        <option value="udp">UDP</option>
      </select><br>
      <label for="address">Address</label><br>
      <input type="text" id="address" name="address" value="google.com"><br>
      <label for="port">Port</label><br>
      <input type="text" id="port" name="port" value="443"><br>

      <div>
        <button hx-post="/connect" hx-target="#connect-results" hx-swap="afterbegin" hx-indicator="#indicator">
          Test Connection
        </button>
        <img id="indicator" class="htmx-indicator" src="https://raw.githubusercontent.com/kosamson/willitsuite/refs/heads/master/svg-loaders/rings.svg"/>
      </div>

      <div id="connect-results"></div>
    </form>
  </body>
</html>
